# Don't traverse reverse
..

# Jetbrains
.idea/*

# Autosaves
auto-save-list
*~
\-*
\@*
\#*
.#*
\#*\#

# Reverters
*.bak
.*.bak
*.o
.*.o

# Logs
#*.log        # we want these types of logs right now
#*.log.[0-9]* # same
screenlog.*

# Cache
.cache
.Cache

# Metadata
.DS_Store

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim
.viminfo

# Temporary
.netrwhist
*~

# Generated Tags
tags
*.tags
_tags*
.tags

# Persistent undo
[._]*.un~

# Python specific - add later